{% extends 'base.html.twig' %}

{% block title %}Traiter | Corpus Humanum{% endblock %}
{% form_theme data_form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<style>

</style>

<div class="container mt-5 px-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="fw-bold">
                Déposez vos données
            </h1>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div><br>
            {% endfor %}
        </div>
    </div>
</div>


	
<section class="container px-4">
{{ form_start(data_form) }}
    <div class="p-4 container mt-5 bg-light text-body">
            <h4 class="pt-3">Déposer les fichiers ici, coller ou naviguer</h4>
	</div>

    <div class="p-4 container mt-5 bg-light text-body">
        <h4 class="py-5">- Métadonnées principales du dépôt</h4>

        <div class="col-md-12">
            {{ form_row(data_form.titre, { label: 'Titre :*',
                    required: 'true',         
                    }) }}
        </div>

        <div class="col-md-12">
            {{ form_row(data_form.type, { label: 'Type de dépôt :*',         
                }) }}
                <small id="emailHelp" class="form-text text-muted">
                <i class="fa-solid fa-circle-info mr-1"></i>
                Veuillez renseigner les informations correspondantes à votre type de donnée </small>
        </div>

        <br>

        <div class="col-md-12">
            {{ form_row(data_form.licence, { label: 'Licence :*',         
                }) }}                
        </div>

        <h4 class="py-5">- Informations complémentaires Optionnel </h4>

		<div class="col-md-12">
			{{ form_row(data_form.description, { label: 'Description :',          
                    'label_attr': {'class': 'CUSTOM_LABEL_CLASS'}
					}) }}
		</div>

	</div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="px-5 btn btn-outline-dark ">Valider</button>
    </div>
    {{ form_end(data_form) }}
</section>


<br>
<br>
{% endblock %}




