{% extends 'base.html.twig' %}

{% block title %} PaulVa Réalisations | Corpus Humanum{% endblock %}

{% block body %}
<style>
	.imgp{
		height: 4rem;
	}
</style>

<div class="container mt-5 px-3">


<section>

	<div class="row d-flex justify-content-evenly pt-4 mx-3">
		<div class="col-md-auto">
			<a href={{ path('ouvrir') }}
			class="h3 head {{ app.request.get('_route') == 'ouvrir' ? 'active' }}">                   
					PaulVa data                   
			</a>
		</div>
		<div class="col-md-auto">
			<a href={{ path('science_realiser') }}
			class=" h3 head {{ app.request.get('_route') == 'science_realiser' ? 'active' }}"> 
					PaulVa Réalisations
			</a>
		</div>
		<div class="col-md-auto">
			<a href={{ path('entrepot') }}
			class=" h3 head {{ app.request.get('_route') == 'entrepot' ? 'active' }}"> 
					Outils
			</a>
		</div>
		<div class="col-md-auto">
			<a href={{ path('actualites_rss') }}
			class=" h3 head {{ app.request.get('_route') == 'actualites_rss' ? 'active' }}"> 
					Veille
			</a>
		</div>
	</div>
	<hr>
</section>



<section class="">

{# <h1 class="fw-bold text-uppercase fs-1 py-3 px-5"> Lorem ipsum dolor sit amet</h1>
<p class="px-5">labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> #}


	<div class="col d-flex justify-content-center p-3 p-md-4">
		<a href="https://nakala.fr" target="_blank">
			<div class="card bg-light text-center border border-black rounded-0 borderShadow py-3 px-4" id="bk">
				<div class="card-body px-5 px-md-2 px-sm-1">
					<img class="imgp" src="{{ asset('images/entrepot/nakala.png') }}" alt="logo">
					<p class="pt-2 text-black-50">Un Outils de données dont le but est de préserver et de disséminer les données produites.</p> 
				</div>
			</div>
		</a>
	</div>

	<div class="col d-flex justify-content-center p-3 p-md-4">
		<a href="https://isidore.science" target="_blank">
			<div class="card bg-light text-center border border-black rounded-0 borderShadow py-3 px-4" id="bk">
				<div class="card-body px-5 px-md-2 px-sm-1">
					<img class="imgp" src="{{ asset('images/entrepot/isidore.png') }}" alt="logo">
					<p class="pt-2 text-black-50">Un moteur de recherche permettant l'accès aux données numériques des sciences humaines et sociales.</p> 
				</div>
			</div>
		</a>
	</div>

	<div class="col d-flex justify-content-center p-3 p-md-4">
		<a href="https://doranum.fr" target="_blank">
			<div class="card bg-light text-center border border-black rounded-0 borderShadow py-3 px-4" id="bk">
				<div class="card-body px-5 px-md-2 px-sm-1">
					<img class="imgp" src="{{ asset('images/entrepot/doranum.png') }}" alt="logo">
					<p class="pt-2 text-black-50">Une plateforme de formation en ligne sur la gestion et le partage des données de la recherche.</p> 
				</div>
			</div>
		</a>
	</div>

</section>

</div>

<br>

{% endblock %}


